<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
   <!-- <app-datepicker-ngx></app-datepicker-ngx> -->
   <!-- <app-datepicker-ngx-inline></app-datepicker-ngx-inline> -->
   <!-- <app-datepicker-ngx-animated></app-datepicker-ngx-animated> -->
   <!-- <app-datepicker-ngx-adaptiveposition></app-datepicker-ngx-adaptiveposition> -->
   <!-- <app-datepicker-ngx-isdisabled></app-datepicker-ngx-isdisabled> -->
   <!-- <app-datepicker-ngx-externaltoggle></app-datepicker-ngx-externaltoggle> -->
   <!-- <app-ngstyle-tester></app-ngstyle-tester> -->
   <!-- <app-disabled-tester></app-disabled-tester> -->
   <app-disabled-input-tester></app-disabled-input-tester>
</div>


<router-outlet></router-outlet>
